openapi: 3.0.3
info:
  title: Planning Applications API
  description: |
    API providing planning application case data for the Plymouth area,
    sourced from Plymouth City Council's public planning portal.
  version: "1.2"
  contact:
    name: SmartPlymouth
servers:
  - url: https://api.smartplymouth.org/api/planning/v1.0
    description: Production

paths:
  /cases:
    get:
      summary: List planning cases
      description: |
        Returns a paginated list of planning cases with optional filtering
        by status and/or validated date, and free text search across
        proposal, address, dates, and tags.
      operationId: listCases
      tags:
        - Cases
      parameters:
        - name: search
          in: query
          required: false
          description: |
            Free text search across proposal (description), address,
            received/validated dates, and tags. Case-insensitive partial match.
            Results include any case where at least one of these fields
            contains the search term.
          schema:
            type: string
            example: "stonehouse"
        - name: status
          in: query
          required: false
          description: Filter by application status (partial, case-insensitive match).
          schema:
            type: string
            example: "Awaiting decision"
        - name: validated_date
          in: query
          required: false
          description: |
            Filter to an exact validated date. YYYY-MM-DD format.
            Mutually exclusive with validated_from/validated_to.
          schema:
            type: string
            format: date
            example: "2026-05-22"
        - name: validated_from
          in: query
          required: false
          description: |
            Start of validated date range filter (inclusive). YYYY-MM-DD format.
            Ignored if validated_date is provided.
          schema:
            type: string
            format: date
            example: "2026-05-18"
        - name: validated_to
          in: query
          required: false
          description: |
            End of validated date range filter (inclusive). YYYY-MM-DD format.
            Ignored if validated_date is provided.
          schema:
            type: string
            format: date
            example: "2026-05-24"
        - name: page
          in: query
          required: false
          description: Page number (1-indexed).
          schema:
            type: integer
            default: 1
            minimum: 1
            example: 1
        - name: per_page
          in: query
          required: false
          description: Number of results per page (max 100).
          schema:
            type: integer
            default: 25
            minimum: 1
            maximum: 100
            example: 25
      responses:
        "200":
          description: A paginated list of planning cases
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedCases"
        "400":
          description: Invalid date format
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /refresh:
    post:
      summary: Trigger a full refresh of planning applications
      description: |
        Initiates an asynchronous task that queues weekly fetch jobs for
        every week in the last 2 years, refreshing all planning application
        data from the council portal.
      operationId: triggerRefresh
      tags:
        - Tasks
      responses:
        "202":
          description: Refresh task accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RefreshTaskAccepted"

  /phaseten_email:
    post:
      summary: Register an email address for Phase 10 notifications
      description: |
        Submits an email address to be stored for Phase 10 planning
        notifications. The email must be a valid format. Duplicate
        submissions are rejected with a 409 Conflict.
      operationId: submitPhasetenEmail
      tags:
        - Phase 10
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PhasetenEmailRequest"
      responses:
        "201":
          description: Email address registered successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PhasetenEmailResponse"
        "400":
          description: Invalid or missing email address
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Email address already registered
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /cases/{reference}:
    get:
      summary: Get a single planning case
      description: |
        Returns details for a specific planning case by its reference number.
        The reference contains forward slashes (e.g. 26/00747/CDM).
      operationId: getCase
      tags:
        - Cases
      parameters:
        - $ref: "#/components/parameters/CaseReference"
      responses:
        "200":
          description: Planning case details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlanningCase"
        "404":
          description: Case not found

  /cases/{reference}/analyse:
    post:
      summary: Trigger AI analysis for a planning application
      description: |
        Triggers an asynchronous AI analysis task for the specified planning
        application. The task downloads documents from the planning portal,
        collects metadata, and uses deepseek-r1 via Ollama to assess scale,
        impact, and generate tags. If the application scores 5 or higher on
        impact or size, potential reasons for objection are also generated.
      operationId: triggerAnalysis
      tags:
        - Analysis
      parameters:
        - $ref: "#/components/parameters/CaseReference"
      responses:
        "202":
          description: Analysis task accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TaskAccepted"
        "404":
          description: Case not found

  /cases/{reference}/objections:
    get:
      summary: List potential objections for a planning application
      description: |
        Returns AI-generated potential reasons for objection for a planning
        application. Objections are only generated for cases that score 5 or
        higher on either impact or size during AI analysis.
      operationId: listObjections
      tags:
        - Objections
      parameters:
        - $ref: "#/components/parameters/CaseReference"
      responses:
        "200":
          description: List of potential objections
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ObjectionsList"
        "404":
          description: Case not found

  /cases/{reference}/supports:
    get:
      summary: List potential reasons for support for a planning application
      description: |
        Returns AI-generated potential reasons for support for a planning
        application. Each reason is backed by relevant planning policy
        references from the NPPF and/or the Plymouth & South West Devon
        Joint Local Plan.
      operationId: listSupports
      tags:
        - Supports
      parameters:
        - $ref: "#/components/parameters/CaseReference"
      responses:
        "200":
          description: List of potential reasons for support
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SupportsList"
        "404":
          description: Case not found

  /cases/{reference}/generate-letter:
    post:
      summary: Generate an objection or support letter (streamed)
      description: |
        Generates a formal letter to the planning authority either objecting
        to or supporting a planning application. The response is streamed as
        Server-Sent Events (SSE) so the client can render the letter in real
        time as tokens arrive.

        The case must have been AI-analysed first so that objection or support
        reasons are available.

        ## SSE Event Types

        | Event   | Data format | Description |
        |---------|-------------|-------------|
        | `token` | JSON string | A chunk of letter text (the raw text fragment) |
        | `done`  | JSON object | Generation complete — contains `reference`, `letter_type`, `author` |
        | `error` | JSON object | An error occurred — contains `error` message |

        ## Client Example (JavaScript)

        ```javascript
        const evtSource = new EventSource('/api/planning/v1.0/cases/26%2F00747%2FCDM/generate-letter', {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify({ first_name: 'Jane', last_name: 'Smith', letter_type: 'objection' })
        });
        // Or use fetch with ReadableStream for POST + SSE
        ```
      operationId: generateLetter
      tags:
        - Letters
      parameters:
        - $ref: "#/components/parameters/CaseReference"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenerateLetterRequest"
      responses:
        "200":
          description: Streaming letter generation (SSE)
          content:
            text/event-stream:
              schema:
                type: string
                description: |
                  Server-Sent Events stream. Each event has a type
                  (token, done, or error) and JSON data payload.
        "400":
          description: Invalid request (missing fields or invalid letter_type)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Case not found or no reasons available
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

components:
  parameters:
    CaseReference:
      name: reference
      in: path
      required: true
      description: |
        The planning application reference number (e.g. 26/00747/CDM).
        Contains forward slashes.
      schema:
        type: string
        example: "26/00747/CDM"

  schemas:
    PlanningCase:
      type: object
      properties:
        reference:
          type: string
          description: Unique planning application reference number
          example: "26/00747/CDM"
        address:
          type: string
          description: Site address for the application
          example: "46 - 48 Devonport Road Plymouth PL3 4DH"
        proposal:
          type: string
          description: Description of the proposed development
          example: "Change of use from offices to four houses in multiple occupation (Class C4)"
        status:
          type: string
          description: Current status of the application
          example: "Awaiting decision"
        received_date:
          type: string
          format: date
          nullable: true
          description: Date the application was received (YYYY-MM-DD)
          example: "2026-05-22"
        validated_date:
          type: string
          format: date
          nullable: true
          description: Date the application was validated (YYYY-MM-DD)
          example: "2026-05-22"
        ai_analysis:
          type: boolean
          description: Whether AI analysis has been performed on this case
          example: false
        potential_impact_score:
          type: integer
          nullable: true
          minimum: 1
          maximum: 10
          description: AI-assessed potential impact score (1 = least impact, 10 = most impact)
          example: 7
        tags:
          type: array
          nullable: true
          items:
            type: string
          description: AI-generated tags categorising the planning application
          example: ["residential", "change-of-use", "HMO"]
        estimated_size:
          type: integer
          nullable: true
          minimum: 1
          maximum: 10
          description: AI-estimated development size (1 = small, 10 = huge)
          example: 4
        ai_rationalisation:
          type: string
          nullable: true
          description: |
            AI-generated explanation of why the impact and size scores were
            chosen, referencing specific details from the application.
          example: "This application involves converting offices into four HMOs..."
        pros:
          type: array
          nullable: true
          items:
            type: string
          description: AI-generated list of positive aspects and benefits of the application
          example: ["Increases local housing supply", "Reuses existing building stock", "No new land take"]
        cons:
          type: array
          nullable: true
          items:
            type: string
          description: AI-generated list of negative aspects and drawbacks of the application
          example: ["Increased pressure on street parking", "Potential noise disturbance for neighbours", "Loss of office employment space"]
        created_at:
          type: string
          format: date-time
          description: Timestamp when the record was first stored
          example: "2026-05-23T07:00:12+00:00"
        updated_at:
          type: string
          format: date-time
          description: Timestamp when the record was last updated
          example: "2026-05-23T07:00:12+00:00"
      required:
        - reference
        - address
        - proposal
        - status

    PlanningObjection:
      type: object
      properties:
        id:
          type: integer
          description: Unique identifier for the objection
          example: 1
        case_reference:
          type: string
          description: Reference of the associated planning case
          example: "26/00747/CDM"
        objection:
          type: string
          description: The grounds for objection
          example: "Increased traffic congestion on residential streets"
        ai_rationalisation:
          type: string
          description: |
            AI explanation of why this is a valid potential objection,
            referencing specific details from the application.
          example: "The proposed development of four HMOs on Devonport Road..."
        created_at:
          type: string
          format: date-time
          description: Timestamp when the objection was generated
          example: "2026-05-29T12:30:00+00:00"
      required:
        - id
        - case_reference
        - objection
        - ai_rationalisation

    ObjectionsList:
      type: object
      properties:
        reference:
          type: string
          description: The planning case reference
          example: "26/00747/CDM"
        objections:
          type: array
          items:
            $ref: "#/components/schemas/PlanningObjection"
      required:
        - reference
        - objections

    PlanningSupport:
      type: object
      properties:
        id:
          type: integer
          description: Unique identifier for the support reason
          example: 1
        case_reference:
          type: string
          description: Reference of the associated planning case
          example: "26/00747/CDM"
        support_reason:
          type: string
          description: The grounds for support
          example: "Contribution to local housing supply in an area with identified need"
        ai_rationalisation:
          type: string
          description: |
            AI explanation of why this is a valid potential reason for support,
            referencing specific details from the application and citing
            relevant planning policy.
          example: "The proposed development contributes to meeting Plymouth's identified housing need..."
        created_at:
          type: string
          format: date-time
          description: Timestamp when the support reason was generated
          example: "2026-06-30T12:30:00+00:00"
      required:
        - id
        - case_reference
        - support_reason
        - ai_rationalisation

    SupportsList:
      type: object
      properties:
        reference:
          type: string
          description: The planning case reference
          example: "26/00747/CDM"
        supports:
          type: array
          items:
            $ref: "#/components/schemas/PlanningSupport"
      required:
        - reference
        - supports

    TaskAccepted:
      type: object
      properties:
        status:
          type: string
          description: Acceptance status
          example: "accepted"
        task_id:
          type: string
          description: Celery task ID for tracking progress
          example: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
        reference:
          type: string
          description: The planning case reference
          example: "26/00747/CDM"
      required:
        - status
        - task_id
        - reference

    RefreshTaskAccepted:
      type: object
      properties:
        status:
          type: string
          description: Acceptance status
          example: "accepted"
        task_id:
          type: string
          description: Celery task ID for tracking progress
          example: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
      required:
        - status
        - task_id

    PaginatedCases:
      type: object
      properties:
        cases:
          type: array
          items:
            $ref: "#/components/schemas/PlanningCase"
        total:
          type: integer
          description: Total number of matching cases
          example: 45
        page:
          type: integer
          description: Current page number
          example: 1
        pages:
          type: integer
          description: Total number of pages
          example: 2
        per_page:
          type: integer
          description: Results per page
          example: 25
      required:
        - cases
        - total
        - page
        - pages
        - per_page

    Error:
      type: object
      properties:
        error:
          type: string
          description: Human-readable error message
          example: "Invalid received_date format. Use YYYY-MM-DD."
      required:
        - error

    GenerateLetterRequest:
      type: object
      properties:
        first_name:
          type: string
          description: Author's first name
          example: "Jane"
        last_name:
          type: string
          description: Author's last name
          example: "Smith"
        letter_type:
          type: string
          enum:
            - objection
            - support
          description: Whether to generate an objection or support letter
          example: "objection"
      required:
        - first_name
        - last_name
        - letter_type

    PhasetenEmailRequest:
      type: object
      properties:
        email:
          type: string
          format: email
          description: Email address to register for Phase 10 notifications
          example: "jane.smith@example.com"
      required:
        - email

    PhasetenEmailResponse:
      type: object
      properties:
        status:
          type: string
          description: Registration status
          example: "registered"
        id:
          type: integer
          description: Unique identifier for the registration
          example: 1
        email:
          type: string
          format: email
          description: The registered email address
          example: "jane.smith@example.com"
      required:
        - status
        - id
        - email
