Flask==3.1.0
Flask-Cors==5.0.1
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.36
alembic==1.14.1
psycopg2-binary==2.9.10
celery[redis]==5.4.0
redis==5.2.1
flower==2.0.1
gunicorn==23.0.0
requests==2.32.3
beautifulsoup4==4.12.3
langchain==0.3.25
langchain-ollama==0.3.3
langchain-core==0.3.60
langchain-chroma==0.2.4
langchain-community==0.4.2
langchain-text-splitters==0.3.8
chromadb==0.6.3
pypdf==5.4.0
cryptography==44.0.3
